---
import Template from "../components/template";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Poke API</title>
	</head>
	<body>
		<h1>Poke API</h1>
		<Template client:load />
	</body>
</html>
